.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  padding-left: 20px;
  top: 3px;
  left: 0;
  width: 120px;
  cursor: pointer;
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 70px;
  top: 0;
}

.chatLogo {
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 120px;
  width: 70px;
  top: 0;
  transition: all 0.5y ease;
}

.chatLogo:hover {
  transform: scale(2);
  box-shadow: 1px 1px #eeb690, 2px 2px #eeb690, 3px 3px #eeb690;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
